<!-- android/app/src/main/AndroidManifest.xml -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mountaincc">

    <!-- (필수) 정밀 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- (필수) 백그라운드 위치 권한 (Android 10+ ) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- (옵션) 포그라운드 서비스 권한 (Android 8.0+ ) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- (Android 13+, 알림 권한) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        tools:replace="android:label"
        android:label="mountaincc"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- [중요] flutter 2+ 사용 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- (유료 버전) Android License Key -->
        <!-- <meta-data
            android:name="com.transistorsoft.locationmanager.license"
            android:value="YOUR-ANDROID-LICENSE-KEY" /> -->

    </application>

    <!-- (패키지 가시성) Flutter 텍스트 처리 Intent 등 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
